AWS_REGION=eu-central-1
AWS_ACCESS_KEY_ID=your-access-key-id
AWS_SECRET_ACCESS_KEY=your-secret-access-key
S3_BUCKET_NAME=your-s3-bucket-name

AIRFLOW_IMAGE_NAME=saas-airflow:3.2.1
AIRFLOW_PROJ_DIR=./airflow
AIRFLOW_UID=50000
AIRFLOW_API_PORT=8080
FERNET_KEY=replace-with-generated-fernet-key

AIRFLOW__API_AUTH__JWT_SECRET=replace-with-jwt-secret
