# ----------------------------
# Environment / Secrets
# ----------------------------
.env
.env.*
!.env.example

# ----------------------------
# Python
# ----------------------------
__pycache__/
*.pyc
*.pyo
*.pyd
.ruff_cache/

# ----------------------------
# Logs
# ----------------------------
logs/
*.log

# ----------------------------
# dbt
# ----------------------------
**/target/
**/dbt_packages/
.dbt/
*.duckdb
.local/
!dbt/saas_analytics/.local/
!dbt/saas_analytics/.local/.gitkeep

# ----------------------------
# Airflow
# ----------------------------
airflow/logs/
airflow/airflow.db

# ----------------------------
# Terraform
# ----------------------------
.terraform/
*.tfstate
*.tfstate.*
crash.log

# ----------------------------
# VS Code
# ----------------------------
.vscode/

# ----------------------------
# OS files
# ----------------------------
.DS_Store
Thumbs.db
